<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Base do HTML</title>

    <link rel="stylesheet" href="../static/css/style.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Pessoa física</h2>

                    <form class="form" action="" method="">
                        <fieldset>
                            <label for="name">Nome</label>
                            <input class="form__input" name="name" type="text" placeholder="Primeiro nome" required>
                        </fieldset>

                        <fieldset>
                            <label for="">Sobrenome</label>
                            <input class="form__input" type="text" placeholder="Sobrenome" required>
                        </fieldset>

                        <fieldset>
                            <label for="">CPF</label>
                            <input class="form__input" type="text" placeholder="XXX.XXX.XXX-XX" required>
                        </fieldset>

                        <fieldset>
                            <label for="">Sexo</label>
                            <input class="form__radio" type="radio" value="masculino" checked>Masculino
                            <input class="form__radio" type="radio" value="feminino">Feminino
                        </fieldset>

                        <fieldset>
                            <label for="">Telefone</label>
                            <input class="form__input" type="tel" placeholder="(XX) XXXX-XXXX" required>
                        </fieldset>

                        <fieldset>
                            <label for="">E-mail</label>
                            <input class="form__input" type="email" placeholder="Ex.: fulano@gmail.com" required>
                        </fieldset>


                        <fieldset>
                            <label for="">Logradouro</label>
                            <input class="form__input" type="text" placeholder="Ex.: Rua, Avenida, Estrada" required>
                        </fieldset>

                        <fieldset>
                            <label for="">Complemento</label>
                            <input class="form__input" type="text" placeholder="Ex.: Bloco 02, Apt 91">
                        </fieldset>

                        <fieldset>
                            <label for="">Bairro</label>
                            <select class="form__input">
                                <option>Selecione o bairro</option>
                                <option value="Vila das Belezas">Vilas das Belezas</option>
                                <option value="Capão Redondo">Capão Redondo</option>
                                <option value="Vila Sônia">Vila Sônia</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <label for="">CEP</label>
                            <input class="form__input" type="text" placeholder="XXXXX-XXX" required>
                        </fieldset>

                        <fieldset>
                            <label for="">Cidade</label>
                            <select class="form__input">
                                <option>Selecione o bairro</option>
                                <option value="São Paulo">São Paulo</option>
                                <option value="Sorocaba">Sorocaba</option>
                                <option value="Campinas">Campinas</option>
                            </select>
                        </fieldset>

                        <fieldset>
                            <label for="">Estado</label>
                            <select class="form__input">
                                <option>Selecione o bairro</option>
                                <option value="São Paulo">São Paulo</option>
                                <option value="Rio de Janeiro">Rio de Janeiro</option>
                                <option value="Paraná">Paraná</option>
                            </select>
                        </fieldset>
                    </form>
                </div>

                <div>
                    <h2>Pessoa jurídica</h2>

                    <fieldset>
                        <label for="">Razão social</label>
                        <input class="form__input" type="text" required>
                    </fieldset>

                    <fieldset>
                        <label for="">Nome fantasia</label>
                        <input class="form__input" type="text" required>
                    </fieldset>

                    <fieldset>
                        <label for="">Inscrição estadual</label>
                        <input class="form__input" type="text" placeholder="XXX.XXX.XXX.XXX" required>
                    </fieldset>

                    <fieldset>
                        <label for="">CNPJ</label>
                        <input class="form__input" type="text" placeholder="XX.XXX.XXX/XXXX-XX" required>
                    </fieldset>

                    <fieldset>
                        <label for="">Nome do responsável</label>
                        <input class="form__input" type="text" placeholder="Nome do responsável" required>
                    </fieldset>

                    <fieldset>
                        <label for="">Telefone</label>
                        <input class="form__input" type="tel" placeholder="Telefone" required>
                    </fieldset>

                    <fieldset>
                        <label for="">E-mail</label>
                        <input class="form__input" type="email" placeholder="Ex.: fulano@gmail.com" required>
                    </fieldset>

                    <fieldset>
                        <label for="">Logradouro</label>
                        <input class="form__input" type="text" placeholder="Ex.: Rua, Avenida, Estrada" required>
                    </fieldset>

                    <fieldset>
                        <label for="">Complemento</label>
                        <input class="form__input" type="text" placeholder="Ex.: Bloco 02, Apt 91">
                    </fieldset>

                    <fieldset>
                        <label for="">Bairro</label>
                        <select class="form__input">
                                <option>Selecione o bairro</option>
                                <option value="Vila das Belezas">Vilas das Belezas</option>
                                <option value="Capão Redondo">Capão Redondo</option>
                                <option value="Vila Sônia">Vila Sônia</option>
                            </select>
                    </fieldset>

                    <fieldset>
                        <label for="">CEP</label>
                        <input class="form__input" type="text" placeholder="XXXXX-XXX" required>
                    </fieldset>

                    <fieldset>
                        <label for="">Cidade</label>
                        <select class="form__input">
                            <option>Selecione o bairro</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Sorocaba">Sorocaba</option>
                            <option value="Campinas">Campinas</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for="">Estado</label>
                        <select class="form__input">
                            <option>Selecione o bairro</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Paraná">Paraná</option>
                        </select>
                </div>
            </div>
        </div>
    </div>
</body>

</html>