<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Layout_Default">
<head>
	<title>Cadastro de Cliente</title>
</head>

<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" th:action="@{/clientes/}" th:object="${cliente}">
	
		<div layout:include="MensagemGeral"></div>
		<div layout:include="MensagemErro"></div>
			
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title floated-left">Novo Cliente</h1>
					<a class="btn btn-link floated-right" th:href="@{/clientes}">Voltar para pesquisa</a>
				</div>
			</div>
	
			<div class="panel-body">
				<input type="hidden" th:field="*{codigo}"/>
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
					<label for="nome" class="col-sm-2 control-label">Razão Social</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="nome"
							th:field="*{nome}" />
					</div>
				</div>	
				<div class="form-group" th:classappend="${#fields.hasErrors('cnpj')} ? 'has-error'">
					<label for="cnpj" class="col-sm-2 control-label">CNPJ</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="cnpj"
							th:field="*{cnpj}" autocomplete="off"/>
					</div>
				</div>				
				<div class="form-group" th:classappend="${#fields.hasErrors('inscricao_estadual')} ? 'has-error'">
					<label for="inscricao_estadual" class="col-sm-2 control-label">Inscrição Estadual</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="inscricao_estadual"
							th:field="*{inscricao_estadual}" autocomplete="off"/>
					</div>
				</div>
				<div class="row form-group" th:classappend="${#fields.hasErrors('inscricao_municipal')} ? 'has-error'">
					<label for="inscricao_municipal" class="col-sm-2 control-label">Inscrição Municipal</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="inscricao_municipal"
							th:field="*{inscricao_municipal}" autocomplete="off"/>
					</div>
				</div>
				<div class="row form-group" th:classappend="${#fields.hasErrors('site')} ? 'has-error'">
					<label for="site" class="col-sm-2 control-label">Site</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="site"
							th:field="*{site}" autocomplete="off"/>
					</div>
				</div>
				<div class="row form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
					<label for="email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="email"
							th:field="*{email}" autocomplete="off"/>
					</div>
				</div>
				<div class="row form-group" th:classappend="${#fields.hasErrors('telefone')} ? 'has-error'">
					<label for="telefone" class="col-sm-2 control-label">Telefone</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="telefone"
							th:field="*{telefone}" autocomplete="off"/>
					</div>
				</div>
				<div class="row form-group" th:classappend="${#fields.hasErrors('fax')} ? 'has-error'">
					<label for="fax" class="col-sm-2 control-label">Fax</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="fax"
							th:field="*{fax}" autocomplete="off"/>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-offset-2 col-sm-1">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

</html>