<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Clientes</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/plugins.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/bootstrap/bootstrap-datepicker.standalone.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<header layout:include="menuBar"></header>

<section layout:fragment="conteudo"></section>


<script type="text/javascript" th:src="@{/js/vendors/jquery/jquery-2.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendors/jquery/jquery.maskMoney.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendors/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendors/bootstrap/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendors/bootstrap/bootstrap-datepicker.pt-BR.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>